*{
    padding:0;
    margin:0;
    box-sizing:border-box;

}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hello{
    width: 20%;
    display: flex;
    flex-direction: column;
}
.hello1{
    width: 100%;
}
.hello1 img{
    width:100%;
}
.hello2{
    width: 100%;
    padding: 1rem;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
}
.hello1 h1{
    font-size: 1.5rem;
}
.hello2 h2{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: grey;
}
.hello2 a{
    text-decoration: name;
    background-color: black;
    color: white;
    padding: 5px 10px;
}