.bg-container {
    background-color: #ffffff;
    height: 100vh;
    background-size: cover;
}

.project-image {
    height: 40vh;


}

.projects-heading {
    font-size: 30px;
    font-family: "bree serif";
    padding: 5px;
    text-align: center;
    color: #183b56;
    font-weight: 500;
}

.projects-description {
    font-size: 15px;
    font-family: "bree serif";
    padding: 3px;
    text-align: center;
    color: #616e76;
    font-weight: 500;
}

.projects-box-container {
    padding: 10px;
}

.projects-box-image {
    border-radius: 10px;
    height: 20vh;
    padding: 5px;

}

.advanced-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/arvrbg.png");
    height: 100vh;
    background-size: cover;
}

.card {
    background-color: white;
    border-radius: 8px;
}

.main-heading {
    font-family: "bree serif";
    font-size: 30px;
    color: #5752ab;
    padding: 5px;
    text-align: center;

}

.paragraph {
    font-family: "roboto";
    font-size: 18px;
    color: #323f4b;
    padding: 5px;
}

.button-container {
    padding: 10px;
}

.learn-more-button {
    height: 36px;
    width: 100px;
    border-radius: 10px;
    color: black;
    border-color: black;
    background-color: #ffffff;
    font-family: "roboto";
    font-size: 12px;
    font-weight: 500;
    border-width: 1px;
    margin-left: 60px;


}

.save-draft-button {
    height: 36px;
    width: 90px;
    border-radius: 10px;
    font-family: "roboto";
    margin-right: 60px;

}

.diwali-top-section {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/diwali-bg.png");
    height: 30vh;
    background-size: cover;
}

.diwali-top-section-heading {
    color: white;
    font-family: "Caveat";
    font-size: 36px;
    width: 200px;
    padding: 20px;
}

.diwali-bottom-section {
    text-align: center;
    background-color: #e6f6ff;
    padding: 15px;
}

.diwali-card-item {
    text-align: center;
    background-color: white;
    width: 140px;
    border-radius: 9px;
    padding: 16px;
    margin: 15px;
}

.diwali-card-image {
    height: 64px;
    width: 64px;
}

.diwali-card-name {
    color: #616e7c;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: normal;
}

.diwali-card-price {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
}

.meals-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/foodbg.png");
    height: 525px;
    width: 300px;
    background-size: cover;

}

.meals-card {
    background-color: #f6c56e;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 25px;
}

.meals-card-title {
    color: #323f4b;
    font-family: "bree serif";
    font-size: 15px;
    font-weight: bold;

}

.meals-card-discription {
    color: #323f4b;
    font-family: "bree serif";
    font-size: 15px;
    font-weight: bold;
}

.meals-card-button {
    background-color: #ffffff;
    font-family: "bree serif";
    font-size: 10px;
    height: 38px;
    width: 90px;
    border-width: 0px;
    border-radius: 8px;

}

.education-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/newsbg.png");
    height: 100vh;
    background-size: cover;
}

.card {
    background-color: #ffffff;
    padding: 25px;
    height: 250px;
    width: 400px;

}

.main-heading {
    font-family: "roboto";
    font-size: 15px;
    color: #323f4b;

}

.sub-heading {
    font-family: "roboto";
    font-size: 20px;
    color: #323f4b;
    font-weight: bold;


}

.paragraph {
    font-family: "roboto";
    color: #7b8794;
    font-size: 15px;


}

.button {
    height: 36px;
    width: 100px;
    border-width: 0px;
    border-radius: 10px;
    color: #ffffff;
    background-color: #323f4b;
    margin-left: 60px;
}

.last-button {
    margin-right: 100px;
}






