*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }  

    .container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .card {
    width: 20%;
    display: flex;
    flex-direction: column;
    }

    .card-one {
    width: 100%;
    }
    .card-one img {
    width: 100%;
    }
    .card-two{
        Width: 100%;
        padding: 1rem;
        text-align: center;
        background-color: white;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        border-radius: 10px;
        margin-top: -5rem; 
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

        box-shadow: rgb(1, 14, 29) 0px 20px 30px -10px;
        box-shadow: rgb(11, 94, 188) 0px 20px 30px -10px;
        
    }
    .card-two h1 {
        font-size: 1.5rem;
    }
    .card-two h2 {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        color: grey;
    }
    .card-two a {
        text-decoration: blue;
        border: 0cap;
        border-radius: 0cap;
        font-size: 1rem;
        background-color: black;
        color: white;
        padding: 5px 10px;
    }