.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.card-one {
   width: 100%;
}
.card-one img{
   width: 100%;
}

.card-two{
    width: 100%;
    padding: 1rem;
    
    
}
.card-two h1{
    font-size: 1.5rem;
}

.card-two h2{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: grey;
}

.card-two a{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 5px 10px;
}